.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  min-width: 400px;
  padding: 20px;

  .log-out-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .log-out {
      padding: 10px;
      width: 100px;
      border-radius: 25px;
      border: none;
      color: red;
      background: #edeff1;
    }
  }
  .main-title {
    font-size: 30px;
    font-weight: 500;
  }
  .sub-title {
    font-size: 30px;
    color: #41474a;
  }
  .patient-text {
    color: #c0c2d1;
    font-size: 150x;
    padding: 0 150px 0 180px;
    margin: 10px 0 20px 0;
    cursor: pointer;
    span {
      color: orange;
      text-decoration: underline;
    }
  }
}
